@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-satoshi);
  --font-mono: var(--font-geist-mono);
}

/* Custom styles (Satoshi font + @apply untuk theme biru) */
body {
  font-family: "Satoshi", sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

@layer components {
  .btn-primary {
    @apply bg-indigo-500 text-white px-4 py-2 rounded hover:bg-blue-500 transition-colors;
  }

  .card-light {
    @apply bg-indigo-50 p-6 rounded-lg shadow-sm border border-indigo-200;
  }
}
